body
{
    background: #000000;
    color: white;
    font-family: "Arial", sans-serif;
    font-weight: normal;
}

a
{
    color: rgb(160,160,160);
    font-family: "Arial", sans-serif;
}
a:link {text-decoration: none; }
a:visited {text-decoration: none; }
a:active {text-decoration: none; }
a:hover {text-decoration: underline; }

div.title
{
    margin-top: 12px;
    margin-bottom: 12px;

    text-align:center;
    color: white;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

div.copyright
{
    margin-top: 8px;
    margin-bottom: 8px;

    text-align:center;
    color: white;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
}
